{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
        {{ if .Site.Params.homepage.show_contact_box }}
        {{ partial "download.html" (dict "site" .Site "context" . "show_button" "true") }}
        {{ end }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ .Title }}
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {{ range first 6 (sort $services ".Params.weight") }}
      <div class="col-12 col-md-4 mb-1">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </div>
    {{ if .Site.Params.homepage.show_services_button }}
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services/" | relURL }}">View All Services</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{end}}

{{if .Site.Data.features}}
<div class="strip strip-grey">
  <div class="container pt-3 pb-3 pb-md-10">
    <div class="row justify-content-center">
      <div class="pricing-intro">
        <h1>Features</h1>
      </div>
      <p>
        While most templates only solves the basic functionality, we are aiming to solve most of the common problems when creating applications from initial status to production.
      </p>
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {{ if .image }}
          <div class="feature-image"><img width="100" height="100" alt="{{ .Title }} logo"
              src="{{ .image | relURL }}" /></div>
          {{ end }}
          <h2 class="feature-title">{{ .title }}</h2>
          <div class="feature-content">
            <p>{{ .description }}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{ $pricing := where (where .Site.RegularPages "Type" "pricing") ".Params.featured" true }}
{{if gt (len $pricing) 0}}
<div class="strip">
  <div class="container pt-3 pb-3 pb-md-10">
    <div class="row justify-content-center">
      <div class="pricing-intro">
        <h1>Pricing</h1>
      </div>
      <p class="col-auto pricing-centered">
        Get <b>lifetime access</b> to <b>our private Github</b> team and join <b>our Slack community</b> for support. Pay once and receive <b>unlimited updates</b> to <b>build as many apps as you want</b>.
      </p>
      {{ range first 3 (sort $pricing ".Params.weight") }}
      {{ if eq (.Params.highlighted) true }}
      <div class="col-14 col-md-3 mb-1 pricing-highlighted">
      {{ else }}
      <div class="col-14 col-md-3 mb-1 pricing">
      {{ end }}
        {{ .Render "price-summary" }}
        <div class="col-auto">
          {{ if eq (.Params.highlighted) true }}
          <a class="button-expanded button-primary button-highlighted" href="{{ .Params.shoppingurl | relURL }}">{{ .Params.leadtext }}</a>
          {{ else }}
          <a class="button-expanded button-primary" href="{{ .Params.shoppingurl | relURL }}">{{ .Params.leadtext }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      <div class="col-auto pricing-centered pricing-small">
        * price and purchase options may change in the future after the promotion ends.
      </div>
    </div>
  </div>
</div>
{{end}}

<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      <iframe src="https://multiplatformkickstarter.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}
